.header {
  height: 64px;
  display: flex;
  margin-top: 0;
  justify-content: space-between;
}
.header span {
  display: flex;
  align-items: center;
}
.header ul {
  display: inline-flex;
  text-decoration-style: none;
  list-style-type: none;
  height: 64px;
  margin-top: 0;
  align-items: center;
}
.header ul li {
  display: flex;
  margin-left: 16px;
}
.section1 {
  display: flex;
  background-color: lightgrey;
}
.section1 img {
  width: 60%;
  margin: 32px 24px;
  height: 300px;
}
.section1 h2 {  }
.section1 h3 {  }
.section1 h4 {
  text-align: center;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: grey;
  width: 80%;
}
.section1right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
